<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title > Calcolatrice </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <!-- <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar> -->
  </ion-header>

<!-- <tr *ngFor="let calc of typeCalc; let i = index" [ngStyle]="{color: calc.type === 'Classic' ? '#b3003b':'#FFFFFF'}">
    <td> {{calc.Name}} </td>
    <td> {{calc.Active}} </td>
    <td> -->

</ion-content>
